<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link rel="stylesheet" href="../plugins/layui/css/layui.css">
</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin" id = "index">
        <div class="layui-header">
            <div class="layui-logo">
                <span>管理后台</span>
                <div class="admin-side-toggle">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>


<script type="text/javascript" src="../plugins/layui/layui.js"></script>
<script type="text/javascript" src="../plugins/vue.js"></script>
<script type="text/javascript" src="../plugins/axios.min.js"></script>
<script type="text/javascript" src="../plugins/bluebird.min.js"></script>
<script type="text/javascript" src="../js/index.js"></script>
</body>
</html>